<div class="local-nav lg:hidden" x-data="{ open: false }">
  <button x-on:click="open = ! open" class="bg-neutrals-50 border border-neutrals-200 border-l-[6px] border-l-primary-500 w-full flex items-center py-3 px-3">
    <span class="icon-list text-primary-500 text-3xl pr-5"></span>
    <span class="font-bold text-lg text-left">In this section</span>
    <span class="icon-plus text-2xl text-primary-500 ml-auto" :class="{ 'icon-minus': open, 'icon-plus' : !open }"></span>
  </button>
  <div class="lg:shadow px-6 py-5" x-show="open" >
    <p class="text-primary-900 font-bold text-2xl mb-5"><a href="#">Parent Page Link</a></p>
    <ul class="list-none font-semibold space-y-2">
      {% for item in local_nav %}
        <li>
          {% if item.url %}<a class="font-medium text-neutrals-800" href="{{ item.url }}">{% endif %}
            {{ item.text }}
          {% if item.url %}</a>{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="lg:shadow px-6 py-5 hidden lg:block">
  <p class="text-primary-900 font-bold text-2xl mb-5"><a href="#">Parent Page Link</a></p>
  <div x-data="{ showAll: false }">
    <div>
      <ul class="list-none font-semibold space-y-2">
        {% for item in local_nav %}
          <li x-show="{{ loop.index }} <= 10 || showAll">
            {% if item.url %}<a class="font-medium text-neutrals-800" href="{{ item.url }}">{% endif %}
              {{ item.text }}
              {% if item.url %}</a>{% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    {% set nav_count = local_nav|length  %}
    {% if nav_count > '10' %}
      <div class="flex items-center text-no-underline hover:text-underline text-primary pt-6 cursor-pointer" x-on:click="showAll = !showAll">
      <span class="text-large" x-text="showAll ? 'Show Less' : 'Show More'">
      </span>
        <span class="icon-plus text-xl text-primary-500 ml-4" :class="{ 'icon-minus': showAll, 'icon-plus' : !showAll }"></span>
      </div>
    {% endif %}
  </div>
</div>



